<!-- Footer -->
<footer class="section">
  <div class="container main footer">
    <ul class="contact-list">
      <% for (i in theme.contact) { %>
      <li class="contact-list-item">
        <a href="<%- theme.contact[i][0] %>"><%= i %></a>
        <a href="<%- theme.contact[i][0] %>"><%= theme.contact[i][1] %></a>
      </li>
      <% } %>
    </ul>
    <div class="copyright">
      散落的叶子 · <%- theme.startyear %> -
      <script>
        document.write(new Date().getFullYear());
      </script>
    </div>
  </div>
</footer>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
