<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Aneureka">
  <meta name="description" content="<%- config.description || '要技艺超群，要予人温暖' %>">
  <title><% if (page.title) { %><%= page.title + ' · ' %><% } %><%= config.title || '散落的叶子' %></title>

  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- theme.favicon %>" />
    <link rel="apple-touch-icon" href="<%- theme.favicon %>" />
    <link rel="bookmark" href="<%- theme.favicon %>" />
    <link rel="shortcut icon" href="<%- theme.favicon %>" />
  <% } %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />

  <%- css('css/blog.css') %>
  <%- css('css/global.css') %>
  <%- css('css/font.css') %>
</head>