<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Aneureka">
  <meta name="description" content="<%- config.description || 'è¦æŠ€è‰ºè¶…ç¾¤ï¼Œè¦äºˆäººæ¸©æš–' %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><% if (page.title) { %><%= page.title + ' Â· ' %><% } %><%= config.title || 'æ•£è½çš„å¶å­' %></title>

  <% if (theme.favicon) { %>
    <link rel="icon" href="<%- theme.favicon %>" />
    <link rel="apple-touch-icon" href="<%- theme.favicon %>" />
    <link rel="bookmark" href="<%- theme.favicon %>" />
    <link rel="shortcut icon" href="<%- theme.favicon %>" />
  <% } %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />

  <%- css('css/blog.css') %>
  <%- css('css/global.css') %>

  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    const options = {
      bottom: '64px', // default: '32px'
      right: '32px', // default: '32px'
      left: 'unset', // default: 'unset'
      time: '0.5s', // default: '0.3s'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      buttonColorDark: '#100f2c',  // default: '#100f2c'
      buttonColorLight: '#eee', // default: '#fff'
      saveInCookies: true, // default: true,
      label: 'ðŸŒ“', // default: ''
      autoMatchOsTheme: true // default: true
    }
    new Darkmode(options).showWidget();
    
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

</head>