
<div class="section">
  <div class="container main">
    <% if (config.subtitle) { %>
      <p class="blog-subtitle"><%= config.subtitle %></p>
    <% } %>
    <% if (theme.cover) { %>
      <img class="cover" src="<%- url_for(theme.cover) %>" />
    <% } %>
    <ul class="blog-list">
      <% page.posts.each( function (item) { %>
        <li class="blog-list-item">
          <h2 class="title is-6">
            <a href="<%- config.root %><%- item.path %>">
              <%- item.title || item.link%>
            </a>
          </h2>
          <p class="subtitle is-7 has-text-grey-light">
            <%= item.date.format('MMMM YYYY') %>
          </p>
        </li>
      <% }); %>
    <ul>
  </div>
  
  
</div>
