
<div class="section">
  <div class="container main">
    <div class="introduction">
      <p>你好呀，这里是 Aneureka。</p>
      <p>曾经是一名南京大学的弱鸡研究生，现在在鹅厂 · 微信支付给大佬们端泡面，也期待早日达成「💩 → C++💩🏔️」成就。</p>
      <p>热爱编程，也做了一些比如<a href="https://tokindle.top">「PUSH TO KINDLE!」</a>和<a href="https://github.com/Aneureka/animate-me">「ANIMATE ME!」</a>之类的小东西，梦想是当一名自由开发者。</p>
      <p>喜欢折腾各种电子设备和效率工具，最近在折腾 Neo Vim 和 Notion。</p>
      <p>喜欢动漫/游戏/技术/草坪/桥，最近想看<a href="https://www.bilibili.com/bangumi/media/md77972">赛马娘</a>和<a href="https://www.bilibili.com/bangumi/media/md28234650/">漂流少年</a>。</p>
      <p>2020/6/1 之前的文章已<a href="https://github.com/Aneureka/blog/tree/master/source/_pasts">归档</a>，文章会先在<a href="https://www.notion.so/aneureka1/6c130e2927f04b37b904070f4dbb86a4?v=052bd515b1644b1390414a3b380d000a">Notion</a>上写作，希望能用上<a href="https://www.notion.so/api-beta">Notion API</a>。</p>
      <p>此站点目前还没有暗黑模式，不推荐在夜间看，或许也可以开启 Safari 等浏览器的 Reader View。</p>
      <p><i>Update(2021.07.13): 让我们热烈祝贺本站备案成功！🥳</i></p>
    </div>
    <% if (theme.cover) { %>
      <img class="cover" src="<%- url_for(theme.cover) %>" />
    <% } %>
    <ul class="blog-list">
      <% page.posts.each( function (item) { %>
        <li class="blog-list-item">
          <h2 class="title is-6">
            <a href="<%- config.root %><%- item.path %>">
              <%- item.title || item.link%>
            </a>
          </h2>
          <p class="subtitle is-7 has-text-grey-light">
            <%= item.date.format('MMMM YYYY') %>
          </p>
        </li>
      <% }); %>
    <ul>
  </div>
  
  
</div>
