
<div class="section">
  <div class="container main">
    <div class="blog-subtitle">2020.6.1 前的文章均已<a href="https://github.com/Aneureka/blog/tree/master/source/_pasts"><b>归档</b></a>，不便之处还请原谅</div>
    <div class="blog-subtitle">未发布的文章/草稿会放在<a href="https://github.com/Aneureka/blog/tree/master/source/_drafts"><b>这里</b></a>，不会有人闲得无聊去看吧，不会吧不会吧不会吧？ 🤣</div>
    <div class="blog-subtitle">然后，最近想多读点书，试着写写自己喜欢的文字</div>
    <% if (theme.cover) { %>
      <img class="cover" src="<%- url_for(theme.cover) %>" />
    <% } %>
    <% if (config.subtitle) { %>
      <p class="blog-subtitle"><%= config.subtitle %></p>
    <% } %>
    <ul class="blog-list">
      <% page.posts.each( function (item) { %>
        <li class="blog-list-item">
          <h2 class="title is-6">
            <a href="<%- config.root %><%- item.path %>">
              <%- item.title || item.link%>
            </a>
          </h2>
          <p class="subtitle is-7 has-text-grey-light">
            <%= item.date.format('MMMM YYYY') %>
          </p>
        </li>
      <% }); %>
    <ul>
  </div>
  
  
</div>
